.container {
    padding-left: 6.25em;
    padding-right: 6.25em;
}

.container--s {
    padding-left: 15%;
    padding-right: 15%;
    /* padding-left: 226px;
    padding-right: 226px; */
}
.container--xs {
    padding-left: 10%;
    padding-right: 10%;
}

.container--slider {
    padding-left: 4%;
    padding-right: 0%;
}
.container--left-big {
    padding-left: 140px;
}
/* .container--text-slider {

} */