/* .history {
    margin-top: -5.9375em;
    padding-bottom: 11.25em;
} */
/* .history__title {
    margin-bottom: 1.6em;
} */




/* 
.history__img-out {
    max-width: 100%;
}
.history__img-out1 {
    right: 0;
    top: 10%;
    
}
.history__img-out2 {
    left: -4%;
    top: 61%;
}
.history__img-out3 {
    top: 49%;
    left: -4%;
}
.history__img-out4 {
    top: 27%;
    left: -2%;
} */