.search {
    position: relative;
    margin-bottom: 1.15em;
    
}
.search__field {
    display: flex;
    align-items: center;
    width: 400px;
    font-size: 1.25rem;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 1em;
    border-radius: 50em;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    -ms-border-radius: 50em;
    -o-border-radius: 50em;
    color: #868686;
}