body {
    /* background: url(/images/virtualExhibitionCard/virtualExhibitionCard__bg.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background: url('/static/kurlib/images/virtualExhibitionSlider/virtualExhibitionSlider__bg.jpg') no-repeat center center fixed;
        background-size: cover;
}
.title--prata {
    margin-bottom: 1.22em;
}


.virtual__slider {
    /* width: 1326px; */
    padding-left: 15%;
}
.virtual-slider__img-container {
    max-height: 400px;
}
.slider__img--virtualExh {
    max-height: 400px;
}

.virtual__arrow {

}
.virtual__gallery {
    height: 547px;
    margin-left: 244px;
}
/* .gallery__next {
    right: -3.375em;
} */
.virtual__li {
    margin-right: 16.625rem
}

.swiper-pagination-bullet {
    background: white;
}
.virtual__slider-wrap {
    margin-bottom: 100px;
}